@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');

body {
  font-family: 'Orbit', sans-serif;
  background-color: #111827;
  color: white;
}



.members-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.member-card {
  background-color: #1E293B;
  padding: 20px;
  border-radius: 12px;
  border: 2px solid transparent;
  transition: 0.3s ease-in-out;
  text-align: center;
}

.member-card:hover {
  border-color: #60A5FA;
  box-shadow: 0 0 15px rgba(96, 165, 250, 0.5);
}

.member-avatar {
  width: 60px;
  border-radius: 50%;
  border: 2px solid #374151;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

p {
  font-size: 14px;
  color: #CBD5E1;
}
