@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');

.services-content {
    text-align: center;
    padding: 50px 20px;
    position: relative;
    z-index: 1;
    font-family: 'Rushblade Demo';
  }
  .watermark-right2 {
    position:absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    opacity: 0.9; /* Adjust opacity for a subtle watermark effect */
    z-index: 1; /* Send it to the background */
    width: 70%;
    max-width: 600px;
  }

  
  /* Heading Styles */
  .heading {
    font-size: 3rem;
    margin-bottom: 70px;
    color: #ffffff;
    font-family: 'Rushblade Demo';
    letter-spacing: 1px;
  }
  .h2 span {
    color: #3EBEFF;
    font-family: 'Rushblade Demo';
  }
  
  h3 {
    font-size: 3rem;
    background-color: #ffffff;
    margin-bottom: 30px;
    color: #00aaff;
  }
  
  /* Cards Container */
  .services-cards {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap; /* Allows cards to wrap on smaller screens */
  }
  
  /* Service Card Styles */
  .service-card {
    background-color: white;
    color: #ffffff;
    border-radius: 20px;
    padding: 30px;
    width: 400px;
    height: 500px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
  }
  
  .service-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(62, 190, 255, 0.5);
  }
  
  /* Image Styling */
  .service-image {
    background-color: #ffffff;
    height: 300px;
    margin: 30px auto 0;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
  }
  
  /* Linking Images from Assets Folder */
  .uiux-image {
    background-image: url("../../Assets/uiux.png");
  }
  .webdev-image {
    background-image: url("../../Assets/webdev.png");
  }
  .digital-image {
    background-image: url("../../Assets/digital.png");
  }
  
  /* Responsive Design */
  
  /* For Tablets */
  @media (max-width: 1024px) {
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 2.5rem;
    }
    .services-cards {
        gap: 50px;
    }
    .service-card {
        width: 350px;
        height: 550px;
    }
    .service-image {
        height: 350px;
    }
  }
  
  /* For Mobile Devices */
  @media (max-width: 768px) {
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 2rem;
    }
    .services-cards {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .service-card {
        width: 300px;
        height: 500px;
        padding: 20px;
    }
    .service-image {
        height: 300px;
    }
  }
  
  /* For Smaller Mobile Devices */
  @media (max-width: 480px) {
    h2 {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 1.8rem;
    }
    .service-card {
        width: 260px;
        height: 450px;
        padding: 15px;
    }
    .service-image {
        height: 260px;
    }
  }